[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = "*"
pandas = "*"
dask = {extras = ["dataframe"],version = "*"}
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
