@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');

html, body {
	font-family: 'Cardo';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
}

/*
Not sure why, but need to hide this SVG to prevent
unwanted background from being shown behind the
wind roses in Plotly.
*/
g.bglayer {
	display: none !important;
}

/* We want vertical Checklists always. */
.control label.checkbox {
	display: block;
}

.header {
	background-color: #DDE4F2;
	padding: 0;
}

.header--section {
	margin-top: -1rem;
}

.header--section h1 {
	padding-top: .8rem;
}

.header--logo {
	float: left;
	padding-right: 2rem;
}

.header--snap-link a {
	height: 5.4em;
	display: block;
	z-index: 1000;
}

.header--snap-link img {
	height: 5.4em;
}


.section.survey-link {
	margin: -3ex 0;
	padding-bottom: 0;
}

.section.survey-link a.button {
	font-family: 'Open Sans';
	font-weight: 500;
}

#communities-dropdown {
	width: 20em;
}

div.Select-control {
	border: 1px solid #888;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#map {
	width: 40em;
}

div.section.section--form {
	padding-bottom: 0;
}

h3.title--rose {
	margin-top: 1em;
}

#rose_monthly {
	margin-top: -3em;
}

.help-text {
	font-size: 1rem;
	max-width: 40em;
}


.footer p {
	width: 50%;
	margin: 1em auto;
}

.footer a {
	display: inline-block;
}

.footer a img {
	height: 5em;
	margin: 1em 1.5em;
}


._dash-undo-redo {
	display: none;
}